---
import {Picture} from "astro:assets";

import { CONFIG } from "@config";

const mediaFolder = 'media/';

import { sanitizeUrl } from '../js/sanitizeUrl';

const images = import.meta.glob('../media/*.{png,jpg,jpeg,webp,svg}', {
  eager: true,
});

const imagesArray = Object.entries(images);

const image = CONFIG.BANNER.src ? imagesArray.filter(([key, val]) => key.endsWith(`${mediaFolder}${CONFIG.BANNER.src}`))[0][1].default : null;

---
{CONFIG.BANNER.src && (<div class="">
    <a href={import.meta.env.BASE_URL} data-astro-prefetch>
    <Picture
    loading={"lazy"}
    class="banner"
    src={image}
    formats={["avif", "webp"]}
    alt={CONFIG.BANNER.alt || ''}
    widths={[240, 540, 720, 1280]}
    sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1280px"
    />
    </a>
    </div>)}

<header class="container-lg centered pw-base">
    <div class="mh-base"><a class="ml-0" href={import.meta.env.BASE_URL} data-astro-prefetch>{CONFIG.TITLE}</a></div>
    <nav class="container-lg w-full">
        <ul>
        {CONFIG.MENU.map(link => 
            (<li><a href={sanitizeUrl(link.url)} data-astro-prefetch>{link.label}</a></li> )
        )}
        {CONFIG.CONTACT && (
            <li><a class="mr-0" href={`mailto:${CONFIG.EMAIL}`}>Contact</a></li>
        )}
                <!-- {CONFIG.MY_SWITCH && (
            <li><a class="mr-0" href={`${CONFIG.MY_LINK}`}>My Link Title</a></li>
        )} -->
        <!-- Uncomment the above to add further links to your header. 
         Rename/copy the structure to add more options. Uncomment also in 'src/types/config.d.ts' -->
        </ul>
    </nav>
</header>

