---
import PostPreview from "./post-preview.astro";
import type { CollectionEntry } from 'astro:content';
type Post = CollectionEntry<'posts'>

const { posts, heading, hasCover, titleTag, descriptionTag, sectionHeaderContentClass} = Astro.props;
---
{posts.length > 0 && (
    <>
    {heading && (
      <p>
        <hr />
        <span set:html={heading}></span>
      </p>
    )}
    </>
          
    <ul id="all-posts">
      {posts.map( (post: Post) => 
          <PostPreview hasCover={hasCover} coverSrc={post.data.cover?.src} coverAlt={post.data.cover?.src} url={post.id} title={post.data.title} titleTag='h2' description={post.data.description} descriptionTag = 'p' pubDate={post.data.pubDate} tags={post.data.tags} sectionHeaderContentClass={sectionHeaderContentClass}/>
        )
      }
    </ul>
  )
  }