---
import Tags from "src/components/tags.astro";
import Cover from "./cover.astro";

const { hasCover=false, url, title='', titleTag = 'h1', description='', descriptionTag = 'h2', pubDate, tags=[], coverSrc='', coverAlt='', sectionHeaderContentClass='' } = Astro.props;

const Heading = titleTag;
const Description = descriptionTag;

const isoDate = pubDate && pubDate.toISOString();
const readableDate = pubDate && pubDate.toLocaleDateString("en-GB", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

import { sanitizeUrl } from '../js/sanitizeUrl';

---
<header class="article-header">
    {url ? <Heading><a href={sanitizeUrl(url)} data-astro-prefetch>{title}</a></Heading> : <Heading>{title}</Heading>}
    <article-meta>
       {/* 
      <article-date>
        {pubDate && <time datetime={isoDate}>{readableDate}</time>}       
      </article-date>
     <Tags allPostTags={tags} /> */}
      
    </article-meta>
    <article-header-content class={sectionHeaderContentClass}>
      {hasCover && <Cover src={coverSrc} alt={coverAlt} />}
       {
       /* 
       <Description class="text-none">{description}</Description>
       */}
      
    </article-header-content>
</header>